/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /* users/index ================================*/
 
 
.media-left img {
  width: 60px;
  height: 60px;
  border-radius: 20%;
  box-shadow: 0 2px 6px #c1ced7;
  margin: 0 0 10px;
}

/* users/show ================================ */
.panel-body img {
  width: 300px;
  height: 300px;
  text-align: center;
}

/* チャプター：メインビジュアル */
.main_visual img {
    width: 984px;
    height: 600px;
    margin: 0 auto 25px;
}

.main-container1 {
  background-image: url("images_toppage/main_visual4.jpg") no-repeat center center;
  width: 1204px;
  height: 600px;
  background-size: cover;
}

#main-container1,h1{
  text-align: center;
   padding : 30px 30px 30px 30px;
   font-weight: bold;
}

.main-container1 p{
  text-align: center;
   padding : 30px 30px 30px 30px;
   font-weight: bold;
   font-size : 30px;
}

.navbar1{
  position: relative;
  min-height: 50px;
  border: 1px solid transparent;
}

.sample3 {
    font-size: 15px;
    font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.sample4 {
    font-size: 30px;
    font-family: "UD デジタル 教科書体 NK-B","UD Digi Kyokasho NK-B";
    text-shadow: blue 1px 1px 0px, blue -1px 1px 0px,
             blue 1px -1px 0px, blue -1px -1px 0px;
    color: #fff;
}



/* body */





/* cover */
.cover {
  margin-top: -20px;
  margin-bottom: 20px;
  width: 100%;
  height: 500px;
  background-image: url("images_toppage/main_visual8.png") ;
  background-repeat:no-repeat;
  background-size: cover;
}

@media (min-width: 900px) {
  .cover {
    height: 700px;
  }
}
.cover .cover-inner {
  height: 100%;
  margin: auto;
  display: table;
}
.cover .cover-inner .cover-contents {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  position: relative;
}
.cover .cover-inner .cover-contents h1 {
  margin: 0 0 20px 0;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.15em;
}


.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 2px;
}
@media (min-width: 300px) {
  .navbar-right .dropdown-menu {
    right: 0;
    left: auto;
  }
  .navbar-right .dropdown-menu-left {
    right: auto;
    left: 0;
  }
}

.slider{
    margin: 100px auto;
    width: 80%;
    opacity: 0;
    transition: 3s;
}
.slick-initialized{
    opacity: 1
}


.slider div {
    height: 400px;
}
.slider img {
    width: 100%;
}


.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.text-center {
    text-align: center !important;
}

.section-heading {
    margin-top: 40px;
}

.ml-auto, .mx-auto {
    margin-left: auto !important;
}
.mr-auto, .mx-auto {
    margin-right: auto !important;
}

.isAnimate {
    opacity: 1;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    transition: all 0.5s;
}
@media screen and (min-width: 400px){
.elem {
    position: relative;
    width: 350px;
    margin: 30px auto 0;
}
}
@media screen and (min-width: 400px){
.top-school {
    display: inline-block;
    box-sizing: border-box;
    transition: all .3s;
}
}

@media screen and (min-width: 400px){
.school-content {
    position: absolute;
    top: 30%;
    margin: 10px;
    padding: 0;
    color: #000;
}
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}

@media screen and (min-width: 400px){
.kuchicomi-average {
    text-align: center;
    margin: 0;
    padding: 0;
    color: #000;
    border-bottom: solid 1px #FF8856;
}
}

footer {
    width: 100%;
    padding: 10px 0px;
    background-color: #FF8856;
}
footer ul {
    display: table;
    margin: 10px auto;
    list-style-type: none;
}

footer ul li {
    text-decoration: none;
    display: inline;
}

footer ul li a {
    margin: 0 12px;
    color: #000;
}